version: 2.1 # use 2.1 to enable the use of orbs

jobs: # define the jobs that will be executed
  Build: # define the build job
    docker: # use the docker executor
      - image: node:latest # use the latest node image

    steps: # define the steps that will be executed
      - checkout # checkout the code from the repository

      - run: 
          name: Install Dependencies
          command: yarn install

      - run:
          name: Run Tests
          command: yarn test

      - run:
          name: Build Package
          command: yarn run build

      - persist_to_workspace: # persist the workspace to the job
          root: . # root of the workspace
          paths: # list of paths to persist
            - lib
            - package.json
            - yarn.lock
            - README.md
            - LICENSE

  Publish_To_NPM:
    docker:
      - image: node:latest

    steps:
      - attach_workspace: # attach the workspace to the job
          at: . # root of the workspace

      - run:
          name: Set NPM Auth Token
          command: |
            echo "//registry.npmjs.org/:_authToken=${NPM_AUTH_TOKEN}" > ~/.npmrc

      - run:
          name: Publish to NPM Registry
          command: npm publish --registry https://registry.npmjs.org --access public

  Publish_To_Github_Package_Registry:
    docker:
      - image: node:latest

    steps:
      - attach_workspace: # attach the workspace to the job
          at: . # root of the workspace

      - run:
          name: Set Github Auth Token
          command: |
            echo "//npm.pkg.github.com/:_authToken=${GITHUB_AUTH_TOKEN}" >> ~/.npmrc

      - run:
          name: Change the Package name in Package.json
          command: |
            apt-get update && apt-get install -y sed
            sed -i "2s/\"react-caches\"/\"@${GITHUB_USER_NAME}\/react-caches\"/" package.json

      - run:
          name: Publish to Github Package Registry
          command: npm publish --registry=https://npm.pkg.github.com --scope=@${GITHUB_USER_NAME} --access public

workflows:
  Registry_Publish: # define the workflow
    jobs:
      - Build:
        name: Build Package
        filters:
          branches:
            only:
              - main
      - Publish_To_NPM:
          requires:
            - Build Package
          filters:
            branches:
              only:
                - main
      - Publish_To_Github:
          requires:
            - Publish_To_NPM
          filters:
            branches:
              only:
                - main
